<li class="al-sidebar-listitem">
  <div class="menuListItm" (click)="expandMenu()">
    <span><img src="./assets/star.svg" class="starcont"></span>
    {{menuItem.name}}
    <span [ngClass]="isExpanded==true ? 'downarrowexpanded' : 'downarrow'"  > <img src="./assets/downarrow.svg"></span>
  </div>
<ul *ngIf="subMenuItems.length>0==true && isExpanded==true"  class="al-sidebar-sublist"   [@menuDropDown]   >
  <li *ngFor="let submenuItm of subMenuItems" class="submenuItm"  [@menuDropDown]  > {{submenuItm}}</li>
</ul>
</li>
