.al-sidebar {
  width: 305px;
  top: 20px;
  left: 0;
  z-index: 904;
  display: block;
  margin-left: -46.5px;
  min-height: 100%;
  background-color:#12161b ;
  color: white;
  height: 100%;
  list-style: none;
  font-family: Lato, sans-serif;
  font-size: 15px;
}


.al-sidebar-listitem{
  margin-top: 7px;
  margin-bottom: 7px;


}

.starcont{
  margin-right:8px;
}


.al-sidebar-sublist {
  margin-left: -40px;
  text-wrap: none;
  list-style: none;
  width: 100%;
  background-color: #2f353f;



}

a {
  padding-left: 18px;
  padding-right: 18px;
  min-width: 130px;
  white-space: nowrap;
}

.submenuItm{
 height:4%;
  padding-top:4px;
  padding-bottom:4px;
}

.menuListItm{
  margin-left:2px ;

  padding-top: 5px;
  padding-bottom: 5px;
  background-color:#12161b ;
  width: 100%;

}

.downarrowexpanded{
  transform: rotate(-180deg);
  float: right;
  margin-right: 30px;
  transition: 0.3s;
}

.menuListItm:hover{
  background-color: #60ff97;
}

.downarrow{
  float: right;
  margin-right: 30px;
  transition: 0.3s;

}
